<header class="p-3 bg-dark text-white">
    <div class="container">
        {% load static %}
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
{#            <img src="{% static '/img/2.jpeg' %}" alt="SmartHouse">#}
            <span class="logo">Smart House</span>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'home' %}" class="nav-link px-2 text-secondary"><i
                        class="fas fa-home"></i>Головна сторінка</a></li>
                <li><a href="{% url 'about' %}" class="nav-link px-2 text-white"><i class="far fa-address-card">
                </i>Інформація</a>
                </li>
                <li><a href="{% url 'controllers' %}" class="nav-link px-2 text-white"><i class="fas fa-gamepad"></i>Засоби Керування</a>
                </li>
                <li><a href="{% url 'items' %}" class="nav-link px-2 text-white"><i class="fas fa-code-branch"></i>Пристрої</a>
                </li>

            </ul>
            <div class="text-end">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" type="button" class="btn btn-outline-light me-2"><i
                            class="fas fa-sign-out-alt"></i>Вийти</a>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">Вітаю, {{ user.username }}</a>
                    </li>
                {% else %}
                    <a href="{% url 'login' %}" type="button" class="btn btn-outline-light me-2"><i
                            class="fas fa-sign-in-alt"></i>Увійти</a>
                    <a href="{% url 'registration' %}" type="button" class="btn btn-warning"><i
                            class="fas fa-user-plus"></i>Зареєструватись</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>